{% extends "main.html" %}

{% block content %}
<p>On this page you can configure the transcoding parameters. Please be
aware that the config affects all other viewers as this service is based
on a single TV tuner-card.</p>
<br>
<form action="config" method="post">
<table align="center">
    <tr><td><p>Audio Codec</p></td><td><p>Audio Rate</p></td></tr>
    <tr>
        <td><select name="AudioCodec">
            {% for codec in cfg.audioCodecs %}
                {% if codec == cfg.curAudioCodec %}
                <option value="{{ codec }}" selected>{{ codec }}</option>
                {% else %}
                    <option value="{{ codec }}">{{ codec }}</option>
                {% end %}
            {% end %}
        </select></td>
        <td><select name="AudioRate">
            {% for rate in cfg.audioRates %}
                {% if rate == cfg.curAudioRate %}
                    <option value="{{ rate }}" selected>{{ rate }} kbit/s</option>
                {% else %}
                    <option value="{{ rate }}">{{ rate }} kbit/s</option>
                {% end %}
            {% end %}
        <select></td>
    </tr>
    <tr><td><p>Video Codec</p></td><td><p>Video Rate</p></td></tr>
    <tr>
        <td><select name="VideoCodec">
            {% for codec in cfg.videoCodecs %}
                {% if codec == cfg.curVideoCodec %}
                    <option value="{{ codec }}" selected>{{ codec }}</option>
                {% else %}
                    <option value="{{ codec }}">{{ codec }}</option>
                {% end %}
            {% end %}
        </select></td>
        <td><select name="VideoRate">
            {% for rate in cfg.videoRates %}
                {% if rate == cfg.curVideoRate %}
                    <option value="{{ rate }}" selected>{{ rate }} kbit/s</option>
                {% else %}
                    <option value="{{ rate }}">{{ rate }} kbit/s</option>
                {% end %}
            {% end %}
        <select></td>
    </tr>
    <tr><td><p>Video Size</p></td><td><p></p></td></tr>
    <tr>
        <td><select name="VideoSize">
            {% for size in cfg.videoSizes %}
                {% if size == cfg.curVideoSize %}
                    <option value="{{ size }}" selected>{{ size }}%</option>
                {% else %}
                    <option value="{{ size }}">{{ size }}%</option>
                {% end %}
            {% end %}
        <select></td>
        <td></td>
    </tr>
    <tr><td><p>Stream Encryption</p></td><td><p></p></td></tr>
    <tr>
        <td><select name="StreamEncryption">
            {% for enc in cfg.streamEncryptions %}
                {% if enc == cfg.curStreamEncryption %}
                    <option value="{{ enc }}" selected>{{ enc }}</option>
                {% else %}
                    <option value="{{ enc }}">{{ enc }}</option>
                {% end %}
            {% end %}
        <select></td>
        <td></td>
    </tr>
</table>
<br>
<center>
    {% module xsrf_form_html() %}
    <input type="submit" value="Save configuration">
</center>
<form>
<p>{{ status }}</p>   
{% end %}
