{% extends "main.html" %}

{% block content %}
<style type="text/css">
    table.fixed { table-layout:fixed; }
    table.fixed td { overflow: hidden; }
</style>
<h2>Stream overview, control and configuration</h2>
<p>On this page you can configure and control all registered streams.
Please be aware that any changes may affect other viewers as depending
on the nature of the stream.</p>
<br>
{% from stream.Stream import Stream %}
{% from stream.DVBSStream import DVBSStream %}
{% from stream.StreamManager import StreamManager %}
{% for stream in streams %}
    <form action="stream" method="post">
    <input type="hidden" name="{{ StreamManager.STREAM }}"
           value="{{ stream.name }}"/>
    <table align="center">
        <col width="150px" height="40px"/>
        <col width="200px" height="40px"/>
        <col width="200px" height="40px"/>
        <col width="200px" height="40px"/>
        <tr>
            <td><p>{{ stream.name }} ({{ stream.type }})</p></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td><p>Server:</p></td>
            <td><p>Address:</td>
            <td><p>Stream state:</p></td>
        </tr>
        {% for server in stream.servers %}
            {% set offBtnState = 'checked' %}
            {% set onBtnState = '' %}
            {% if stream.getStreamState(server) == stream.STATE.UP %}
                {% set offBtnState = '' %}
                {% set onBtnState = 'checked' %}
            {% end %}
            <tr>
                <td></td>
                <td><p>{{ server.name }}</p></td>
                <td><a href="{{ stream.getStreamAddress(server) }}">Direct link</a></td>
                <td>
                    <div class="offState" width=75px">
                        <input type="radio" name="{{ server.name }}"
                            id="{{ stream.name }}{{ server.name }}down"
                            value="{{ stream.STATE.DOWN }}"
                            {{ offBtnState }}>
                        <label for="{{ stream.name }}{{ server.name }}down"
                            style="width: 75px;">Off</label>
                    </div>
                    <div class="onState" width=75px">
                        <input type="radio" name="{{ server.name }}"
                            id="{{ stream.name }}{{ server.name }}up"
                            value="{{ stream.STATE.UP }}"
                            {{ onBtnState }}>
                        <label for="{{ stream.name }}{{ server.name }}up"
                            style="width: 75px;">On</label>
                    </div>
                </td>
            </tr>
        {% end %}
        <tr>
            <td></td>
            <td><p>Audio Codec</p></td>
            <td><p>Audio Rate</p></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td><select name="{{ Stream.STREAM_CFG_CUR[0] }}">
                {% for codec in stream.audioCodecs %}
                    {% if codec == stream.curAudioCodec %}
                    <option value="{{ codec }}" selected>{{ codec }}</option>
                    {% else %}
                        <option value="{{ codec }}">{{ codec }}</option>
                    {% end %}
                {% end %}
            </select></td>
            <td><select name="{{ Stream.STREAM_CFG_CUR[1] }}">
                {% for rate in stream.audioRates %}
                    {% if rate == stream.curAudioRate %}
                        <option value="{{ rate }}" selected>{{ rate }} kbit/s</option>
                    {% else %}
                        <option value="{{ rate }}">{{ rate }} kbit/s</option>
                    {% end %}
                {% end %}
            <select></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td><p>Video Codec</p></td>
            <td><p>Video Rate</p></td>
            <td><p>Video Size</p></td>
        </tr>
        <tr>
            <td></td>
            <td><select name="{{ Stream.STREAM_CFG_CUR[2] }}">
                {% for codec in stream.videoCodecs %}
                    {% if codec == stream.curVideoCodec %}
                        <option value="{{ codec }}" selected>{{ codec }}</option>
                    {% else %}
                        <option value="{{ codec }}">{{ codec }}</option>
                    {% end %}
                {% end %}
            </select></td>
            <td><select name="{{ Stream.STREAM_CFG_CUR[3] }}">
                {% for rate in stream.videoRates %}
                    {% if rate == stream.curVideoRate %}
                        <option value="{{ rate }}" selected>{{ rate }} kbit/s</option>
                    {% else %}
                        <option value="{{ rate }}">{{ rate }} kbit/s</option>
                    {% end %}
                {% end %}
            <select></td>
            <td><select name="{{ Stream.STREAM_CFG_CUR[4] }}">
                {% for size in stream.videoSizes %}
                    {% if size == stream.curVideoSize %}
                        <option value="{{ size }}" selected>{{ size }}%</option>
                    {% else %}
                        <option value="{{ size }}">{{ size }}%</option>
                    {% end %}
                {% end %}
            <select></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td><p>Stream Encryption</p></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td><select name="{{ Stream.STREAM_CFG_CUR[5] }}">
                {% for enc in stream.streamEncryptions %}
                    {% if enc == stream.curStreamEncryption %}
                        <option value="{{ enc }}" selected>{{ enc }}</option>
                    {% else %}
                        <option value="{{ enc }}">{{ enc }}</option>
                    {% end %}
                {% end %}
            <select></td>
            <td></td>
            <td></td>
        </tr>
        {% if stream.type == "DVBSStream" %}
            <tr>
                <td></td>
                <td>
                    <p>Channel</p>
                    <select name="{{ DVBSStream.STREAM_CFG_CUR[0] }}">
                    {% for cat,channels in stream.catChannels.items() %}
                        <optgroup label="{{ cat }}">
                        {% for channel in channels %}
                            {% set selected='' %}
                            {% if stream.curChannel == channel %}
                                {% set selected='selected' %}
                            {% end %}
                            <option value="{{ channel }}" {{ selected }}>
                            {{ stream.channelName(channel) }}
                            </option>
                        {% end %}
                        </optgroup>
                    {% end %}
                    </select>
                </td>
                <td></td>
                <td></td>
            </tr>
        {% end %}
        <tr>
            <td></td>
            <td></td>
            <td>{% module xsrf_form_html() %}</td>
            <td><input type="submit" value="Save configuration"></td>
        </tr>
    </table>
    <form>
    {% end %}
{% end %}
