{% extends "main.html" %}

{% block content %}
<style text="text/css">
#content {
    height: 400px;
}
</style>
<div id="tv" style="float: left">
    <p>Let's watch some TV!</p>
    <embed type="application/x-vlc-plugin" name="player" 
            autoplay="yes" loop="no"
            target="{{ stream.address }}" 
            width="480" height="360"/>
</div>
<form style="float: right; padding-right: 25px;"
                    action="tv" method="post">
    <p>Programs</p>
    {% module xsrf_form_html() %}
    <input type="submit" value="Change program"><br><br>
    <div style="overflow-y:scroll; overflow-x: hidden; height:320px;
                width: 200px; margin-left: -2px">
        <table>
        {% for program in stream.programList %}
            <tr><td>
                <div class="programlist">
                    {% if program.pid == stream.curPid %}
                        <input type="radio" id="{{ program.abbr }}"
                        name="programs" value="{{ program.pid }}" checked>
                    {% else %}
                        <input type="radio" id="{{ program.abbr }}"
                        name="programs" value="{{ program.pid }}">
                    {% end %}
                    <label for="{{ program.abbr }}">{{ program.name }}</label>
                </div>
            </td></tr>
        {% end %}
    </table>
    </div>
</form>
{% end %}
