{% extends "main.html" %}

{% block content %}
<style text="text/css">
#content {
    height: 400px;
}
</style>
<div id="tv" style="float: left">
    <p>Let's watch some TV!</p>
    <embed type="application/x-vlc-plugin" name="player" 
               autoplay="yes" loop="no"
               target="{{ curStreamAddress }}" 
               width="480" height="360"/><br>
    {% if curStreamAddress.endswith('mp4') %}
    	<a href="{{ curStreamAddress }}">Click here to open stream
    	   if video doesn't show</a>
    {% end %}
</div>
<form style="float: right; padding-right: 25px;"
                    action="tv" method="post">
    {% module xsrf_form_html() %}
    <input type="submit" value="Choose stream"><br><br>
    <div style="overflow-y: hidden; overflow-x: hidden; height:320px;
                width: 200px; margin-left: -2px">
        <table>
        {% for stream in streams %}
            <tr><td>
                <div class="radiolist">
                    {% if stream.name == curStream %}
                        <input type="radio" id="{{ stream.name }}"
                        name="stream" value="{{ stream.name }}" checked>
                    {% else %}
                        <input type="radio" id="{{ stream.name }}"
                        name="stream" value="{{ stream.name }}">
                    {% end %}
                    <label for="{{ stream.name }}"
                        style="width: 200px;">{{ stream.displayName }}</label>
                </div>
            </td></tr>
        {% end %}
    </table>
    </div>
</form>
{% end %}
